
<h2>Edit my profile</h2>

<form action="/profile/editProfile/{{user._id}}" method="post">
  <label>Look this photograph</label>
  <input type="file" name="photo">
  <br><br>

  <label for="">Name</label>
  <input type="text" name="title" value="{{user.title}}">
<br><br>
  <label for="">Email</label>
  <input type="email" name="email" value="{{user.author}}">
<br><br>

  <label for="">Are you a</label>
<select name="role">
  <option value="{{user.role}}">Bartender</option> 
  <option value="{{user.role}}">drinker</option>
</select>>

<br><br>
  <button type="submit">EDIT</button>
</form>

<button><a href="">submit</a></button>