<h1>DrinkBud</h1>
<img src="photo" alt="minha foto">
<h2>nome: {{name}}</h2>
<h3>idade: {{age}}</h3>
<h3>cidade: {{ cidade }}</h3>
<h3>email {{email}}</h3>
<h3>telefone: {{telefone}}</h3>
<h3>profissão: {{profissao}}</h3>

<button><a href="edit-profile">editar perfil</a>
</button>
<hr>

<h1>Meus drinques:</h1>
  <ul>
    <li></li>
  </ul>
<button><a href="edit-drinques">editar drinques</a>
