<h1>DrinkBud</h1>
<img src="{{user.photo}}" alt="minha foto">
<h2>nome: {{user.name}}</h2>
<h3>idade: {{user.age}}</h3>
<h3>cidade: {{ user.city }}</h3>
<h3>email {{user.email}}</h3>
<h3>telefone: {{user.phone}}</h3>
<h3>profissão: {{user.profession}}</h3>

<button><a href="edit-profile">editar perfil</a>
</button>
<hr>

<h1>Meus drinques:</h1>
  <ul>
    <li></li>
  </ul>
{{!-- <button><a href="edit-drinques">editar drinques</a> --}}
<button><a href="add-drink">adicionar drinque</a>
