<div class="background-card">
    <a href="/drinks/drink/{{_id}}"><img class="drink-image" src="{{this.photo}}" alt="drink image"></a>
  <div class="drink-text">
    <p class="drink-type">{{this.type}}</p>
    <h1 class="drink-name">{{this.name}}</h1>
    {{!-- <button class="drink-button"><a href="/drinks/drink/{{_id}}">view recipe</a></button> --}}
  </div>
</div>
