
<div class="container-perfil">
  <div class="main-question">
    <h1>{{drink.name}}</h1>
    </div>
</div>

<div class="profile-page">
<div class="container-info">

  <div class="profile-photo">
    <img src="{{drink.photo}}" alt="">
  </div>
    <div class="drink-info">
      <p><span class="mini-info">Como preparar:</span><br>{{drink.recipe}}</p><br><br>
      <p><span class="mini-info">Tipo:</span><br>{{drink.type}}</p><br><br>
      <p><span class="mini-info">Drink feito por:</span><br><a class="drink-maker" href="/profile/userprofile/{{drink.owner._id}}">{{drink.owner.name}}</a></p>
      <br>
        <div class="drink-buttons">
          {{#if isOwner}}
            <button class="edit-button-drink"><a href="/drinks/edit-drink/{{drink._id}}">Editar</a></button>
            <button class="delete-button-drink"><a href="/drinks/delete/{{drink._id}}">Delete</a></button>
          {{/if}}
        </div>
      </div>
  </div>
</div>
