<img src="{{drink.photo}}" alt="">
<h1>{{drink.name}}</h1>

{{#each drink.ingredients}}
<ul>
  <li>{{this}}</li>
</ul>
{{/each}}

  {{#if isOwner}}
    <button><a href="/drinks/delete/{{drink._id}}">delete</a></button>
    <button><a href="/drinks/edit-drink/{{drink._id}}">editar</a></button>
  {{/if}}

<h4>Recipe</h4>
<p>{{drink.recipe}}</p>
<h3>{{drink.type}}</h3>
